*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
main .center{
    height: 100%;
    text-align: center;
    font-size: 1em;
}
button{
    padding: 2%;
    font-size: 2em;
    cursor: pointer;
}
main .center h2{
    font-weight: 700;
}
footer{
    font-size: 1em;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 1em;
}